body {
    margin: 0;
}

.container {
    padding: 0px 15px;
    margin: 0 auto;
}

header {
    background-color: #008000;
    height: 100px;
    width: 100%;
    opacity: 0.8;
    position: fixed;
    top: 0;
    box-shadow: 0px 7px #001000;
}

.header-left {
    height: 100px;
    float: left;
    padding: 5px 0 0 30px;
    color: #ffffff;
}

.header-right {
    float: right;
    color: #ffffff;
}

li {
    margin: 30px 50px;
    float: left;
    list-style: none;
}

.intro-wrapper {
    padding: 150px 0 30px 0;
    background-color: #f0fff0;
}

.carrer-wrapper {
    padding: 60px 0;
    background-color: #f0fff0;
}

.section-title {
    border-bottom: 3px solid #5f5f5f;
}